<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda - NTM</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\css\Agenda.css">
</head>
<body>
    <header>
        <h1><img src="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\img\vh.png" alt="Seu Site Educacional" width="200" height="100" class="logo"></h1>
        <nav>
            <ul>
                <li><a href="inicioP.html">Início</a></li>
                <li><a href="Blog News.html">BlogNews</a></li>
                <li><a href="Agenda.html">Agenda</a></li>
                <li><a href="Equipa.html">Equipe</a></li>
                <li><a href="#galeria">Galeria</a></li>
                <li><a href="#certificados">Certificados</a></li>
                <li><a href="Cursos.html">Cursos</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="Eventos.html">Eventos</a></li>
                <li><a href="#tutoriais">Tutoriais</a></li>
                <li><a href="TelaPrincipal.html">More</a></li>
            </ul>
        </nav>
    </header>

    <section id="agenda">
        <h2>AGENDA</h2>
        <p>Descubra a rica e variada gama de eventos que compõem a Agenda NT, proporcionando-lhe uma visão abrangente e detalhada dos cursos especializados, workshops interativos, reuniões estratégicas, encontros inspiradores e formações de alto nível, meticulosamente concebidos e organizados pelo Núcleo Tecnológico e pela Secretaria de Educação. Mantenha-se atualizado e imerso nas mais recentes iniciativas educacionais e tecnológicas que moldam o cenário contemporâneo da aprendizagem, enquanto você mergulha nas oportunidades oferecidas pela nossa agenda abrangente.!</p>
    </section>

    <footer>
        <div class="address">
            <p>Paulo Ambrósio, 822 - Luanda, Kilamba Kiaxi, 78555-012</p>
            <p>Telefone: 929916798</p>
        </div>
    </footer>
</body>
</html>