<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog News - NTM</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\css\BlogNews.css">
</head>
<body>
    <header>
        <h1><img src="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\img\vh.png" alt="Seu Site Educacional" width="200" height="100" class="logo"></h1>
        <nav>
            <ul>
                <li><a href="inicioP.html">Início</a></li>
                <li><a href="Blog News.html">BlogNews</a></li>
                <li><a href="Agenda.html">Agenda</a></li>
                <li><a href="Equipa.html">Equipe</a></li>
                <li><a href="#galeria">Galeria</a></li>
                <li><a href="#certificados">Certificados</a></li>
                <li><a href="Cursos.html">Cursos</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="Eventos.html">Eventos</a></li>
                <li><a href="#tutoriais">Tutoriais</a></li>
                <li><a href="TelaPrincipal.html">More</a></li>
                <!-- Adicione os outros itens de menu aqui -->
            </ul>
        </nav>
    </header>

    <section id="blog">
        <h2>BLOG NEWS</h2>
        <h3>BLOGS DE PROFESSORES DE EMEB</h3>
        <ul>
            <li>Prof. Carlos Mendonça</li>
            <li>Prof. Manuel Nascimento</li>
            <!-- Adicione mais blogs aqui -->
        </ul>
        <h3>BLOGS DE PROFESSORES DE EMEI</h3>
        <ul>
            <li>Prof. Ana Sofia</li>
            <li>Prof. Helena Tavares</li>
            <!-- Adicione mais blogs aqui -->
        </ul>
        <h3>ESCOLAS MUNICIPAIS DE EDUCAÇÃO BÁSICA</h3>
        <ul>
            <li>Ana Paula</li>
            <li>Jessy Madalena</li>
            <!-- Adicione mais escolas aqui -->
        </ul>
        <h3>ESCOLAS MUNICIPAIS DE EDUCAÇÃO INFANTIL</h3>
        <ul>
            <li>São Marcos Alvorada</li>
            <li>Graciete Celma</li>
            <!-- Adicione mais escolas aqui -->
        </ul>
    </section>

    <footer>
        <div class="address">
            <p>Paulo Ambrósio, 822 - Luanda, Kilamba Kiaxi, 78555-012</p>
            <p>Telefone : 929916798</p>
        </div>
    </footer>
</body>
</html>