<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos e Oficinas - NTM</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\css\Cursos.css">
</head>
<body>
    <header>
        <h1><img src="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\img\vh.png" alt="Seu Site Educacional" width="200" height="100" class="logo"></h1>
        <nav>
            <ul>
                <li><a href="inicioP.html">Início</a></li>
                <li><a href="Blog News.html">BlogNews</a></li>
                <li><a href="Agenda.html">Agenda</a></li>
                <li><a href="Equipa.html">Equipe</a></li>
                <li><a href="#galeria">Galeria</a></li>
                <li><a href="#certificados">Certificados</a></li>
                <li><a href="Cursos.html">Cursos</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="Eventos.html">Eventos</a></li>
                <li><a href="#tutoriais">Tutoriais</a></li>
                <li><a href="TelaPrincipal.html">More</a></li>
                <!-- Adicione os outros itens de menu aqui -->
            </ul>
        </nav>
    </header>

    <section id="cursos">
        <h2>CURSOS E OFICINAS</h2>
        <p>Página em construção</p>
        <p>O Núcleo Tecnológico atualmente oferta diversos cursos voltados para alunos de 4º, 5º, 6º e 7º anos bem como para professores da rede municipal.</p>
        <div class="course-buttons">
            <h3>Cursos e oficinas para Crianças e Adolescentes:</h3>
            <a href="#">Curso de Robótica</a>
            <a href="#">Curso de Informática Básica</a>
            <a href="#">Linguagem de Programação</a>
            <a href="#">Produção de livros digitais: Ebooks</a>
            <h3>Cursos e oficinas para Professores e Adultos em geral:</h3>
            <a href="#">Aplicativos em Nuvem com o Google</a>
            <a href="#">Curso 3º Idade Conectada</a>
            <a href="#">Curso de Informática Básica</a>
            <a href="#">Edição de vídeo</a>
            <h3>Cursos e oficinas exclusivos para Funcionários:</h3>
            <a href="#">Formação de Multimeios</a>
            <a href="#">Oficina de Lousa Digital Interativa</a>
            <a href="#">Oficina de Blogs e Mídias Digitais</a>
            <a href="#">Oficina de Vídeo para Produção Pedagógica</a>
        </div>
    </section>

    <footer>
        <div class="address">
            <p>R. dos Angicos, 822 - Luanda, Kilamba Kiaxi, 78555-012</p>
            <p>Telefone: 929916798</p>
        </div>
    </footer>
</body>
</html>