<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos - NTM</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\css\Eventos.css">
</head>
<body>
    <header>
        <h1><img src="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\img\vh.png" alt="Seu Site Educacional" width="200" height="100" class="logo"></h1>
        <nav>
            <ul>
                <li><a href="inicioP.html">Início</a></li>
                <li><a href="Blog News.html">BlogNews</a></li>
                <li><a href="Agenda.html">Agenda</a></li>
                <li><a href="Equipa.html">Equipe</a></li>
                <li><a href="#galeria">Galeria</a></li>
                <li><a href="#certificados">Certificados</a></li>
                <li><a href="Cursos.html">Cursos</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="Eventos.html">Eventos</a></li>
                <li><a href="#tutoriais">Tutoriais</a></li>
                <li><a href="TelaPrincipal.html">More</a></li>
                <!-- Adicione os outros itens de menu aqui -->
            </ul>
        </nav>
    </header>

    <section id="eventos">
        <h2>EVENTOS</h2>
        <p>Organizado pelo Núcleo Tecnológico Municipal Maria Tereza da Silveira Gava em parceria com a Secretaria Municipal de Educação, Esporte e Cultura o I HallowTech é um evento focado em proporcionar aos alunos do curso de Linguagem de Programação um momento com diversas atividades de interação e recreativas e que envolvem o uso da tecnologia na superação de desafios.</p>
        <p>Como o nome sugere, a temática do I HallowTech é toda voltada para o Halloween. Assim, as crianças são divididas em quatro equipes, chamadas de “Clãs” - Zumbi Bolorento, Múmia Decrépita, Monstrego do Pântano e Salamandra Ensandecida - e terão de executar várias tarefas em uma competição. Cada atividade vale um ponto e os Clãs disputam o primeiro lugar.</p>
        <p>Em uma das tarefas a icônica lupa de investigação de Sherlock Holmes dá espaço à câmera do tablet na aventura “Sherlo-QR” na qual os alunos terão de solucionar mistérios através da leitura de pistas em formato QR Code com os tablets. Já no “Desafio SNES” superar os níveis e derrotar o chefe do castelo renderão mais pontos ao Clã vencedor, isto sem contar o eletrizante “Quiz Kahoot!” com diversas perguntas on-line inspiradas nos conteúdos do curso de Linguagem de Programação que os alunos terão de responder (e quem errar leva torta na cara), entre outras atividades. Ao final do evento, o Clã que acumular mais pontos leva o primeiro lugar.</p>
        <p>O I HallowTech também tem o objetivo de proporcionar um momento de descontração e lazer aos alunos possibilitando que todas as turmas do curso possam socializar entre si. Ao todo, o NTM possui quatro turmas no curso de Linguagem de Programação, totalizando cerca de 50 alunos que vem até o NTM uma vez por semana para as aulas.</p>
        <p>Neste primeiro HallowTech o Clã ganhador foi o Zumbi Bolorento. Parabéns!</p>
    </section>

    <footer>
        <div class="address">
            <p>R. dos Angicos, 822 - Luanda, Kilamba Kiaxi, 78555-012</p>
            <p>Telefone: 929916798</p>
        </div>
    </footer>
</body>
</html>