<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início - NT</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\css\inicioP.css">
</head>
<body>
    <header>
        <h1><img src="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\img\vh.png" alt="Seu Site Educacional" width="200" height="100" class="logo"></h1>
        <nav>
            <ul>
                <li><a href="inicioP.html">Início</a></li>
                <li><a href="Blog News.html">BlogNews</a></li>
                <li><a href="Agenda.html">Agenda</a></li>
                <li><a href="Equipa.html">Equipe</a></li>
                <li><a href="#galeria">Galeria</a></li>
                <li><a href="#certificados">Certificados</a></li>
                <li><a href="Cursos.html">Cursos</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="Eventos.html">Eventos</a></li>
                <li><a href="#tutoriais">Tutoriais</a></li>
                <li><a href="TelaPrincipal.html">More</a></li>
                <!-- Adicione os outros itens de menu aqui -->
            </ul>
        </nav>
        <div class="login-button">
            <a href="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\views\users\Login.html"><button>Fazer Login</button></a>
       </div>

    </header>

    <section id="inicio">
        <h2>Início - NT</h2>
        <h2>BEM-VINDOS!</h2>
        <di class="testo">
        <p>O Núcleo Tecnológico - NT está empolgado em apresentar seu novo site! Com um visual mais moderno e dinâmico, o site foi cuidadosamente projetado para atender às necessidades dos entusiastas da tecnologia, como você, que desejam estar por dentro dos cursos, oficinas e outras capacitações oferecidas pela Secretaria Municipal de Educação, Esporte e Cultura através do NT.</p>
        <p>Navegue pelo nosso site e descubra uma variedade de recursos, desde informações sobre os próximos eventos até dicas úteis sobre tecnologia educacional. Este é o seu espaço para se manter atualizado sobre as últimas tendências em educação e tecnologia. Agradecemos pela sua visita e esperamos que você se sinta em casa enquanto explora tudo o que o NT tem a oferecer.</p>
        </div>
        <p>Obrigado pela visita e fique à vontade!</p>
        <p>Visite-nos!</p>
        <p>Endereço: Paulo Ambrósio, 822 - Luanda, Sinop - MT, 78555-012</p>
        <p>Telefone: 929916798</p>
        <div class="social-icons">
            <a href="https://www.whatsapp.com"><img src="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\img/whatsapp.png" alt="WhatsApp"></a>
            <a href="https://www.facebook.com"><img src="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\img/facebook.png" alt="Facebook"></a>
            <a href="https://www.youtube.com"><img src="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\img/youtube.png" alt="YouTube"></a>
            <a href="mailto:seuemail@example.com"><img src="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\img/email.png" alt="E-mail"></a>
            <a href="tel:+556635111820"><img src="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\img/telefone.png" alt="Telefone"></a>
        </div>
    </section>

    <footer>
        <p>Visite-nos!</p>
        <p>Endereço: Paulo Ambrósio, 822 - Luanda, Kilamba Kiaxi, 78555-012</p>
        <p>Telefone: 929916798</p>
    </footer>
</body>
</html>