<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\css\Login.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            <label for="username">Nome de usuário:</label>
            <input type="text" id="username" name="username" placeholder="Seu nome de usuário..." required>
            
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Sua senha..." required>
            
            <input type="submit" value="Login" formaction="TelaPrincipal.html">
        </form>
        <div class="links">
            <p>Não tem uma conta? <a href="CriarConta.html">Criar conta</a></p>
            <p>Esqueceu sua senha? <a href="/forgotpassword">Recuperar senha</a></p>
        </div>
    </div>
    <script src="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\js\LoginCrud.js"></script>
</body>
</html>