<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <link rel="icon" href="https://lh6.googleusercontent.com/rTM4_0VVBzFeKY-pbODSpz2xj2gKt4I48cn5J49xyq5W38xXaqT99k-_meJBz6ghuP_sYBDgMRasf3LseFxJzGXJDVaM">
    <meta property="og:title" content="Sites Educativos">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://sites.google.com/view/ntmsinopmt/downloads/sites-educativos">
    <meta property="og:description" content="
Educação Infantil
Hvirtua Maternal
Hvirtua Jardim
Hvirtua Pré-Escolar

Alfabetização
Sol Eti
HVirtua Alfabetização
Jogos da Escola Alfabetização
Educa Jogos Alfabetização

Linguagem de Programação
Code.org®
Scratch
MIT App Inventor

Ciências e Biologia
Estudamos Ciências
">
    <meta itemprop="name" content="Sites Educativos">
    <meta itemprop="description" content="
Educação Infantil
Hvirtua Maternal
Hvirtua Jardim
Hvirtua Pré-Escolar

Alfabetização
Sol Eti
HVirtua Alfabetização
Jogos da Escola Alfabetização
Educa Jogos Alfabetização

Linguagem de Programação
Code.org®
Scratch
MIT App Inventor

Ciências e Biologia
Estudamos Ciências
">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <!-- Conteúdo do cabeçalho -->
    </header>
</body>
</html>