<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu Site Educacional</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\css\TelaPrincipal.css">  
</head>
<body background="blue">
    <header>
        <h1><h1><img src="C:\Users\CHECLIRY\Documents\Documenos Itel-Paulo\Escola Itel\SI\Projectos\public\assets\img\vh.png" alt="Seu Site Educacional" width="200" height="100" class="logo"></h1></h1>
        <nav>
            <ul>
                <li><a href="inicioP.html">Início</a></li>
                <li><a href="Blog News.html">BlogNews</a></li>
                <li><a href="Agenda.html">Agenda</a></li>
                <li><a href="Equipa.html">Equipe</a></li>
                <li><a href="#galeria">Galeria</a></li>
                <li><a href="#certificados">Certificados</a></li>
                <li><a href="Cursos.html">Cursos</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="Eventos.html">Eventos</a></li>
                <li><a href="#tutoriais">Tutoriais</a></li>
                <li><a href="TelaPrincipal.html">More</a></li>
            </ul>
        </nav>
        <div class="search-bar">
            <form action="#" method="get">
                <input type="text" placeholder="Pesquisar...">
                <input type="submit" value="Pesquisar">
            </form>
        </div>
    </header>

    <section id="sites-educativos">
        <h2>Sites Educacional</h2>
        <div class="category">
            <h3>Ciências e Biologia</h3>
            <ul>
                <li><a href="Estudamos Ciências.html">Estudamos Ciências</a></li>
                <li><a href="#">Ludo Educativo Ciências</a></li>
                <li><a href="#">Ludo Educativo Biologia</a></li>
            </ul>
        </div>
        <div class="category">
            <h3>Português</h3>
            <ul>
                <li><a href="#">Estudamos Português</a></li>
                <li><a href="#">Ludo Educativo Português</a></li>
                <li><a href="#">Sol Eti Português</a></li>
                <li><a href="#">Guida Querido - Exercícios de Português</a></li>
            </ul>
        </div>
        <div class="category">
            <h3>Miscelânea</h3>
            <ul>
                <li><a href="#">Escola Games</a></li>
                <li><a href="#">Smartkids</a></li>
                <li><a href="#">Racha Cuca</a></li>
                <li><a href="#">Jogos Educativos 360</a></li>
                <li><a href="#">Professora Carol</a></li>
                <li><a href="#">Clubinho Xalingo</a></li>
                <li><a href="#">Atividades Educativas</a></li>
                <li><a href="#">Digipuzzle Jogos Educativos</a></li>
                <li><a href="#">Iguinho</a></li>
                <li><a href="#">Ludo Educativo</a></li>
                <li><a href="#">Zuzubalândia</a></li>
                <li><a href="#">Khan Academy</a></li>
                <li><a href="#">Trânsito</a></li>
                <li><a href="#">Prova Brasil</a></li>
                <li><a href="#">Toy Theater</a></li>
            </ul>
        </div>
        <div class="category">
            <h3>Língua Inglesa</h3>
            <ul>
                <li><a href="#">Tiny Cards Duolingo - Jogos de Língua Inglesa</a></li>
                <li><a href="#">Bradley's English School - Jogos em Inglês</a></li>
                <li><a href="#">Estudamos Inglês</a></li>
            </ul>
        </div>
        <div class="category">
            <h3>Geografia</h3>
            <ul>
                <li><a href="#">Estudamos Geografia</a></li>
                <li><a href="#">Ludo Educativo Geografia</a></li>
                <li><a href="#">Aprendizagem Aberta</a></li>
                <li><a href="#">Jogos da Escola Geografia</a></li>
            </ul>
        </div>
        <div class="category">
            <h3>Matemática</h3>
            <ul>
                <li><a href="#">Tabuada de Multiplicar</a></li>
                <li><a href="#">Estudamos Matemática</a></li>
                <li><a href="#">Ludo Educativo Matemática</a></li>
                <li><a href="#">Matemática Genial</a></li>
                <li><a href="#">Sol Eti Matemática</a></li>
                <li><a href="#">Educa Jogos Matemática</a></li>
                <li><a href="#">Math Playground</a></li>
            </ul>
        </div>
        <div class="category">
            <h3>Artes</h3>
            <ul>
                <li><a href="#">Ludo Educativos Artes</a></li>
                <li><a href="#">Canva</a></li>
                <li><a href="#">Freepik</a></li>
                <li><a href="#">Pixabay</a></li>
            </ul>
        </div>
        <div class="category">
            <h3>História</h3>
            <ul>
                <li><a href="#">Ludo Educativo História</a></li>
                <li><a href="#">Jogos da Escola História</a></li>
            </ul>
        </div>
        <div class="category">
            <h3>Lazer</h3>
            <ul>
                <li><a href="#">Click Jogos</a></li>
            </ul>
        </div>
        <div class="category">
            <h3>Segurança na Internet</h3>
            <ul>
                <li><a href="#">SaferNet</a></li>
            </ul>
        </div>
    </section>

    <footer>
        <p>Endereço: Paulo Ambrósio, 822 - Luanda, Kilamba Kiaxi, 78555-012</p>
        <p>Telefone: 929916798</p>
    </footer>
    <script src="TelaPrincipal.js"></script>
</body>
</html>